.loader {
  margin: 50px auto;
}

.flex-table {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.flex-table thead tr {
  background: #2196f3;
  color: #ffffff;
}
.flex-table thead tr th:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.flex-table thead tr,
.flex-table tbody tr {
  flex-basis: content;

  height: 80px;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.flex-table tbody tr td:first-child,
.flex-table thead tr th:first-child {
  flex: auto;
  width: 65px;
  flex-grow: 0;
}
.flex-table thead tr th,
.flex-table tbody tr td {
  padding-left: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex: 2 1;
}
.flex-table thead tr th svg {
  margin-right: 10px;
  transform: scale(1.1);
}
