.modalOverlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modalOverlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalWindow {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-width: 600px;
  min-height: 400px;
  padding: 25px;
  transform: scale(0.5);
  transition: 0.4s all;
}
.modalWindow.active {
  transform: scale(1);
}

.modalWindow h2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 0 38px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}
.modal_el {
  display: flex;
  flex-flow: row;
  margin-bottom: 48px;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #666666;
}
.modal_el:last-child {
  margin-bottom: 38px;
}
.modal_el svg {
  margin-right: 29px;
}
.modalWindow button {
  width: 200px;
  height: 60px;
  background: #2196f3;
  border-radius: 20px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.modalWindow button:hover {
  background-color: #2175f3
}
.modalWindow button:active {
  background-color: rgba(156, 141, 241, 0.87);
}
