.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  padding: 25px;
}

.modalWindow h2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 0 38px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}
.modal_el {
  display: flex;
  flex-flow: row;
  margin-bottom: 48px;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #666666;
}
.modal_el:last-child {
  margin-bottom: 38px;
}
.modal_el svg {
  margin-right: 29px;
}
.modalWindow button {
  width: 200px;
  height: 60px;
  background: #2196f3;
  border-radius: 20px;
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
